@import 'base';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.app {
  min-height: 100vh;
  position: relative;
}

body {
  background-color: #F5F5F5;
}

.containner {
  max-width: 1140px;
  margin: 0 auto;
}